# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# WebStorm
.idea/

# log files
*.log

# coverage reports
coverage/
*.lcov

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm cache
.npm/

# yarn cache
.yarn/

# pnpm cache
.pnpm/

# next.js build cache
.next/cache/
.next/

# test output
test-output/

# node_modules
node_modules/

package-lock.json